<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Blog Home</title>
</head>
<body>
  <h1>Blog Home</h1>
  
    <% posts.forEach(post => { %>
      

        <h3><=======Card Here starts=====></h3>
        <h3><%= post.title %></h3>
        <p><%= post.content %></p>
        
        <form method="post" action="/delete/<%= post.id %>" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
        <h3><=======Card Here ends=====></h3>
      
    <% }) %>

</body>
</html>